.mainPic {
  width: 100%;
}

.Product{
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ProductImage{
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  object-position: top;
}

.listOfItems{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 3%;
  padding-top: 3%;
}

.App {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
